.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo-text {
  font-size: 23px;
  font-weight: 600;
}

.logo-text span {
  color: orangered;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

li {
  list-style-type: none;
  font-size: 23px;
  font-weight: 400;
}
